; see https://docs.npmjs.com/cli/v7/using-npm/config
; for all the options
fund = false
init.author.name = phette23
init.author.email = phette23@gmail.com
init.author.url = https://phette.net
init.license = GPL-3.0
loglevel = error
