; see https://npmjs.org/doc/misc/npm-config.html
; for all the options
init.author.name = phette23
init.author.email = phette23@gmail.com
init.author.url = http://phette.net
loglevel = error
prefix = /usr/local/share/npm
